.infobox {
  &--wrapper {
    display: grid;
    max-width: 15rem;
    border: 1px solid black;
  }

  &--name,
  &--value {
    // border: 1px solid blue;
  }
}
.horizontal {
  grid-template-columns: 1fr max-content;
  .infobox--value {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .infobox--name {
    padding-left: 10px;
    border-right: 1px solid black;
  }
}
.vertical {
  grid-template-rows: 1fr 1fr;
  text-align: center;
  .infobox--name {
    border-bottom: 1px solid black;
  }
}
