<p class="attribute__name">{{ attribute.name }} ({{ attribute.shortName }})</p>
<p class="attribute__value">{{ attribute.value }}</p>

<span class="attribute__treshold">
  {{ attribute.currentTreshold }}
</span>

<div class="attribute__button-wrapper">
  <button
    mat-icon-button
    color="primary"
    [disabled]="isIncrementDisabled"
    (click)="increment()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    [disabled]="isDecrementDisabled"
    (click)="decrement()"
  >
    <mat-icon>remove</mat-icon>
  </button>
</div>
